<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>公金支払 - INPUT(STEP1)</title>

    <!-- css,jsファイルは resourses/static配下に配置する -->

    <!-- jQuery inclued -->
    <script th:src="@{/jquery-3.5.1/jquery-3.5.1.min.js}"></script>

    <!-- Bootstrap4 inclued -->
    <link th:href="@{/bootstrap-4.3.1-dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script th:src="@{/bootstrap-4.3.1-dist/js/bootstrap.js}"></script>
    
    <!-- sample3 CSS/JS inclued -->
    <link th:href="@{/sample3/style.css}" rel="stylesheet">
    <script th:src="@{/sample3/javascript.js}"></script>

</head>
<body>
    <section class="text-center">
        <form th:action="@{input_step2}" method="POST">
            <div id="step">
                <p class="step-name">１.お支払い手順</p>
                <p>▶︎</p>
                <p class="step-name step-active">２.お客様番号を入力</p>
                <p>▶︎</p>
                <p class="step-name">３.クレジットカード情報等を入力</p>
                <p>▶︎</p>
                <p class="step-name">４.内容を確認</p>
                <p>▶︎</p>
                <p class="step-name">５.手続き完了</p>
            </div>
        </section>

        <senction id="step1-section">
            <h4>内容をご確認の上、よろしければ「お手続きはこちら」ボタンを押してください。</h4>
            
            <table class="table">
                <tr>
                    <th>使用者番号</th>
                    <td>
                        <input type="text" class="form-control step1-input-text" th:field="${formCustomer.customerNo}" th:value="${formCustomer.customerNo}"><br>
                        <sup>クレジットカード決済手続書に記載されている使用者番号をお確かめください。<br>例）999999999</sup>
                    </td>
                </tr>
                <tr>
                    <th>確認番号</th>
                    <td>
                        <input type="text" class="form-control step1-input-text" th:field="${formCustomer.confirmNo}" th:value="${formCustomer.confirmNo}"><br>
                        <sup>クレジットカード決済手続書に記載されている確認番号をお確かめください。<br>例）999999999</sup>
                    </td>
                </tr>
            </table>

            <section class="border-section" style="background-color: yellow; text-align: left;">
                <h4 style="color: red;">！申し込み時に使用したYahoo! JAPAN IDをご準備ください</h4>
                <sup>ヒント：<a href="#" onclick="void(0);">Yahoo! JAPAN IDを忘れてしまった場合は？</a></sup><br>
                <br><br>
                <h4>「次へ」ボタンを押すと「ログイン」画面へ遷移します。</h4>
                <sup>
                    Yahoo! JAPAN ID、パスワードを入力して「クレジットカード情報等を入力」画面にお進みください。<br>
                    すでに登録済みの場合は「お申し込み情報の確認」画面へ移動します。<br>
                </sup>
                </h4>
            </section>
            <section class="form-submit">
                <button type="submit" name="action" class="btn btn-secondary" value="back">戻る</button>
                <button type="submit" name="action" class="btn btn-warning" value="next">次へ</button>
            </button>
            </section>
        </form>
    </senction>

        


</body>
</html>