<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>公金支払 - TOP</title>

    <!-- css,jsファイルは resourses/static配下に配置する -->

    <!-- jQuery inclued -->
    <script th:src="@{/jquery-3.5.1/jquery-3.5.1.min.js}"></script>

    <!-- Bootstrap4 inclued -->
    <link th:href="@{/bootstrap-4.3.1-dist/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script th:src="@{/bootstrap-4.3.1-dist/js/bootstrap.js}"></script>

    <!-- sample3 CSS/JS inclued -->
    <link th:href="@{/sample3/style.css}" rel="stylesheet">
    <script th:src="@{/sample3/javascript.js}"></script>

</head>
<body>
    <header></header>
    <section class="text-center">
        <ul id="select-tab">
            <div class="tab-whitespace-front"></div>
            <li class="tab tab-active" id="tab-new-application">新規申し込み</li>
            <div class="tab-whitespace-middle"></div>
            <li class="tab" id="tab-inquiry-payment">支払い状況照会</li>
            <div class="tab-whitespace-middle"></div>
            <li class="tab" id="tab-chenge-procedure">各種変更手続き</li>
            <div class="tab-whitespace-middle"></div>
            <li class="tab" id="tab-stop-payment">支払い停止手続き</li>
            <div class="tab-whitespace-end"></div>
        </ul>
    </section>

    <!-- 新規申し込みタブ内容 -->
    <section id="new-application">
        <section class="text-center">
            <div id="step">
                <p class="step-name step-active">１.お支払い手順</p>
                <p>▶︎</p>
                <p class="step-name">２.お客様番号を入力</p>
                <p>▶︎</p>
                <p class="step-name">３.クレジットカード情報等を入力</p>
                <p>▶︎</p>
                <p class="step-name">４.内容を確認</p>
                <p>▶︎</p>
                <p class="step-name">５.手続き完了</p>
            </div>
        </section>

        <senction>
            <h4>内容をご確認の上、よろしければ「お手続きはこちら」ボタンを押してください。</h4>
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="checklist">
                            <h5>STEP.01</h5>
                            <h6>xxxxxxxxxxxxx</h6>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="checklist">
                            <h5>STEP.02</h5>
                            <h6>xxxxxxxxxxxxx</h6>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="checklist">
                            <h5>STEP.03</h5>
                            <h6>xxxxxxxxxxxxx</h6>
                        </div>
                    </div>
                </div>
                <div class="row ckecklist-row2">
                    <div class="col-6">
                        <div class="checklist">
                            <h5>STEP.04</h5>
                            <h6>xxxxxxxxxxxxx</h6>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="checklist">
                            <h5>Yahoo! Japan Login</h5>
                            <h6>xxxxxxxxxxxxx</h6>
                        </div>
                    </div>
                </div>
            </div>
        </senction>

        <section id="process">
            <form th:action="@{input_step1}" th:object="${formAgree}" method="POST">

                <span th:each="agree : ${agreeOptions}">
                    <input type="checkbox" class="form-check-input" th:field="*{agree}" th:value="${agree}">
                    <label class="form-check-label" th:for="${#ids.prev('agree')}" th:text="'手数料・注意事項を確認の上、同意する'"></label>
                </span>
                <br>
                <input type="submit" id="submit" class="btn btn-success" value="お手続きはこちら" disabled>
            </form>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="checklist">利用可能クレカ、Tポイントについて</div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h5>注意事項</h5>
            <p class="precautions">
                ○このクレジットカード払いは、地方自治法第231の2第6項に基づく指定代理納付者による代理納付になります。
                ○クレジットカード払いの対象は、水道料金及び下水道使用料（以下「水道料金等」という。）になります。
                    ただし、下水道使用料が発生しない場合は水道料金のみ、水道料金が発生しない場合は下水道使用料のみがクレジットカード払いの対象となります。
                ○ご登録いただくクレジットカード払いは、お客様がクレジットカード情報を事前に登録いただくことで、継続的にクレジットカードで水道料金等をお支払いいただく方法です。
                    窓口等でクレジットカードを提示され、直接お支払いいただく方法ではありません。
                ○Yahoo!公金支払い・Yahoo!ウォレットに登録されるお客様のクレジットカード情報は、一切、さいたま市水道局には通知されません。お客様のご判断と責任でお申込みください。 ○1回の請求金額が10万円以下の場合に限り、クレジットカードによるお支払いをご利用できます。10万円を超えた場合は、納入通知書（請求書）を郵送させていただきます。 ○継続払いのお客様の水道料金等が連続して13か月クレジットカード決済がされない場合は、継続払いが取消しされます。再度、クレジットカードによるお支払いを希望される場合は、再申込みが必要になります。 ○クレジットカードが使用できない状態にある場合は、お客様に通知することなく請求方法を変更する場合があります。 ○指定代理納付者への水道料金等の請求手続きは、さいたま市水道局から納入期限内に行います。 ※上記に加え、次の「クレジットカード払いに関する約定」をご確認・ご同意の上、お申込みください。
            </p>

            <h5>クレジットカード払いに関する約定</h5>
            <p class="precautions">
                「Yahoo!公金支払い」での水道料金及び下水道使用料（以下「水道料金等」という。）のお支払いは、お客様からお申込みいただいた内容を登録し、継続的にクレジットカードで決済するものです。
                これは、地方自治法第231条の2第6項に基づく指定代理納付者（ヤフー株式会社）による代理納付（立替払い）になります。
                水道料金等につきましては、指定代理納付者に請求をさせていただきます。
                指定代理納付者からさいたま市水道局に水道料金等の代理納付が行われますと、お客様のさいたま市水道局に対する水道料金等の支払債務は消滅しますが、
                    これに代わって、お客様はご利用のカード会社に対し、水道料金等と同額の債務を負うことになります。
                これらのことに加え、次の各事項をご了承いただいた上でお申込みください。
                1、クレジットカードの有効性が確認できないなどの理由でお申込みを受付できないときは、従来のお支払方法を継続させていただきます。
                2、クレジットカード払いの申込手続以前に請求済の水道料金等に関しては、クレジットカードによるお支払いはできません。ただし、口座振替の請求前である場合は、クレジットカードによるお支払いが適用される場合があります。
                3、クレジットカード払いの対象は、一回の請求金額が10万円以下の水道料金等であり、お支払回数は1回払いです。
                4、さいたま市水道局からの各種通知は、使用場所又は送付先として登録された住所に送付させていただきます。
                5、クレジットカード払いでは、カード会社の会員規約に基づいてお支払いいただきます。
                6、カード会社の規定による会員資格喪失、お客様からの停止のお申し出などがない限り、クレジットカードによるお支払いを継続させていただきます。
                7、カード会社の締切日とさいたま市水道局が指定代理納付者に代理納付を依頼する日との関係その他事務上の都合により、隔月検針であっても、請求月が連続する場合や2か月以上の間隔をあけてカード会社から請求される場合があります。
                8、クレジットカード払いでは、さいたま市水道局から領収書は発行しません。カード会社から発行される利用明細書等でご確認ください。
                9、お客様の水道料金等を指定代理納付者がさいたま市水道局に代理納付した後に、さいたま市水道局では水道料金等の納入の証明をすることが可能となります。その場合は、所定の手数料がかかります。
                10、カードの利用限度額を超えるなど、カード会社の規定によりクレジットカード払いができない場合、その他事務上の都合により、納入通知書（請求書）によりさいたま市水道局から直接請求させていただく場合があります。
                11、クレジットカード払い開始後であっても、クレジットカードの有効性が確認できなくなったときなど、クレジットカード支払いが困難な場合は、クレジットカード払いの取扱いを停止させていただきます。
                    その後は、納入通知書（請求書）によりさいたま市水道局から直接請求させていただきます。
                12、クレジットカード番号及び有効期限が変更になった場合は、新たにお申込みが必要になります。ただし、変更になった場合であっても、引き続きクレジットカード払いでお支払いいただける場合があります。 
                
                【水道（下水道）使用者とカード会員の方が異なる場合】
                1、水道（下水道）使用者とカード会員が異なる場合は、水道（下水道）使用者がカード会員に水道料金等の支払いを委託したものとして取扱い、カード会員の方はこれを承諾していただきます。
                2、さいたま市水道局からの各種通知や連絡は、すべて水道（下水道）使用者に行います。また、カード会員の方は、これに同意していただきます。 
                3、カード会社からの各種通知や連絡は、すべてカード会員の方に行うことになります。
            </p>

            <h5>Yahoo!公金支払いでクレジットカードによる納付をされる際の注意事項</h5>
            <p class="precautions">
                （指定代理納付者による納付）<br>
                ・Yahoo!公金支払いでの支払いは、地方自治法第231条の2第6項および地方自治法施行令の規定に基づく「指定代理納付者による納付」です。<br>
                （お支払い回数）<br>
                ・お支払い回数は1回払いとさせていただきます。<br>
                （領収証）<br>
                ・領収証の発行は行いませんので、クレジットカード会社から届く利用明細書などをご確認ください。<br>
                （カード利用代金の支払い）<br>
                ・カード利用限度額を超えるなど、クレジットカード会社の規定により、クレジットカード払いができない場合や、そのほか事務上の都合により、納入通知書等により地方公共団体から直接請求させていただく場合があります。<br>
                ・クレジットカード払い開始後であっても、クレジットカードの有効性が確認できなくなったときは、クレジットカード払いのお取り扱いを中止させていただきます。その場合は、その旨をYahoo!ウォレットに登録のメールアドレスへお知らせいたします。その後は、地方公共団体から納入通知書等により請求させていただきます。<br>
                ・クレジットカードの利用代金の支払いは、カード発行会社の会員規約に基づくお支払いとなります。クレジットカード会社により、支払日などが異なりますので、利用状況や支払い予定日などについてはクレジットカード会社が発行する利用明細書などにてご確認ください。<br>
            </p>

            <h5>このページに関するお問い合わせ</h5>
            <p>
                Yahoo!公金支払いでの納付に関すること<br>
                Yahoo!公金支払いのヘルプからお問い合わせください。<br>
                （http://www.yahoo-help.jp/app/home/p/562/）<br>
                <br>
                納付通知書に関すること<br>
                水道局電話受付センター 048-665-3220<br>
            </p>
        </section>
    </section>
    
    <!-- 支払い状況照会タブ内容 -->
    <section id="inquiry-payment" style="display: none;">
        <section class="border-section">
            <h3>支払い状況の照会</h3>
            <p>
                Yahoo!公金支払いを通じたお支払い内容は、Yahoo!ウォレットの利用明細で確認できます。<br>
                新規申し込み時に使用したYahoo! JAPAN IDでログインのうえ、ご確認ください。<br>
                なお、照会できるのは過去24カ月分の支払い内容です。<br>
            </p>
            <button class="btn btn-warning">利用明細の確認はこちら</button>
        </section>
        <section class="border-section">
            <h3>申し込み履歴の照会</h3>
            <p>
                Yahoo!公金支払いを通じた、これまでの申込履歴を確認できます。<br>
                新規申し込み時に使用したYahoo! JAPAN IDでログインの上、ご確認ください。<br>
            </p>
            <button class="btn btn-warning">継続登録履歴の確認はこちら</button>
        </section>

        <section>
            <h4>よくある質問</h4>
            <hr>
            <div style="display: block; height: 100rem;"></div>
        </section>
    </section>
    
    <!-- 各種変更手続きタブ内容 -->
    <section id="chenge-procedure" style="display: none;">
        <section class="border-section">
            <h3>引き落としクレジットカードの変更手続き</h3>
            <p>
                料金の引き落としは、Yahoo!ウォレットで「通常使うお支払い方法」に設定されているクレジットカードから行われます。<br>
                クレジットカードの変更は、この「通常使うお支払い方法」を変更してください。<br>
                新規申し込み時に使用したYahoo! JAPAN IDでログインのうえ、手続きしてください。<br>
            </p>
            <button class="btn btn-warning">クレジットカードの変更はこちら</button>
            <section class="process">
                <h5>手順</h5>
            </section>
        </section>
        <section class="border-section">
            <h3>メールアドレスの変更手続き</h3>
            <p>
                Yahoo!公金支払いからお送りしている「Yahoo!公金支払い 支払金額確定のお知らせ」の送付先メールアドレスを変更したい場合は、Yahoo! JAPAN IDの登録情報のメインメールアドレスを変更してください。<br>
                新規申し込み時に使用したYahoo! JAPAN IDでログインのうえ、手続きしてください。<br>
            </p>
            <button class="btn btn-warning">メールアドレスの変更はこちら</button>
            <section class="process">
                <h5>手順</h5>
            </section>
        </section>
        <section class="border-section">
            <h3>引っ越し時の変更手続き</h3>
            <p>
                引っ越しに伴う、水道使用休止の届け出、水道使用開始の届け出は、お住まいの地域の水道局までお問い合わせください。<br>
            </p>
        </section>
        <section>
            <h4>よくある質問</h4>
            <hr>
            <div style="display: block; height: 100rem;"></div>
        </section>
    </section>
    
    <!-- 支払い停止手続きタブ内容 -->
    <section id="stop-payment" style="display: none;">
        <section class="border-section">
            <h3>支払い停止手続き(水道料金)</h3>
            <p>
                停止手続きにあたって、「お客様番号」と「確認番号」を用意してください。<br>
                「お客様番号」と「確認番号」は、お手元の「水道・下水道使用量等のお知らせ」（検針票）または「納入通知書」に記載されています。<br>
                また、新規申し込み時のYahoo! JAPAN IDでログインする必要があります。<br>
                Yahoo! JAPAN IDが不明な場合は、本ページ下にある「よくある質問」をご確認ください。<br>
            </p>
            <button class="btn btn-warning">支払い停止手続きはこちら</button>
            <sup>「新規申し込み時のYahoo! JAPAN ID」、「お客様番号」と「確認番号」をお手元にご用意のうえ手続きしてください。</sup>
        </section>
        <section>
            <h4>よくある質問</h4>
            <hr>
            <div style="display: block; height: 100rem;"></div>
        </section>
    </section>



    <footer></footer>

</body>
</html>